header{
text-align: center;
}

ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
aside{
   
    position: absolute;
    display: flex;
align-items: center;
    justify-content: center;
margin-left: 70%;
    margin-top: 100px;  
    flex-direction: column;
}
aside h3{
margin: 0%;
}
main{
    width: 50%;
}
footer{
    text-align: center;
}